extends layout

block content

	div.container
		ul.nav.nav-pills
			li.active(role='presentation')
				a(href='#') Home

			li(role='presentation')
				a(href='#') Translation

			li(role='presentation')
				a(href='#') Quiz


	h1 Translation